.register-body {
  width: 300px;
  padding: 20px;
  border: 1px solid #dfdfdf;
}
.user-inform {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #b2b1b1;
}
.heading {
  margin-bottom: 10px;
}
.btn {
  padding: 6px 13px;
  border: none;
  background-color: blue;
  color: #fff;
  border-radius: 20px;
}
.border-color-red {
    border-color: #b3261e;
}
.info-text {
  color: #b3261e;
  font-size: 13px;
  display: flex;
  gap: 10px;
  margin-top: 7px;
}
.inform-icon {
  width: 15px;
  height: 15px;
  font-size: 10px;
  border-radius: 50%;
  background-color: #b3261e;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-15{
    margin-bottom: 15px;
}